<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
</head>
<body>
    <table class="layui-table" lay-data="{url:'/queryColumnInfo', id:'test3'}">
        <thead>
            <tr>
                <th lay-data="{type:'checkbox'}">ID</th>
                <th lay-data="{field:'column_name', width:160, sort: true}">列名</th>
                <th lay-data="{field:'is_nullable', width:100, sort: true}">可为空</th>
                <th lay-data="{field:'data_type', width:100}">类型</th>
                <th lay-data="{field:'character_maximum_length', width:100}">长度</th>
                <th lay-data="{field:'extra', width: 100}">是否自增</th>
                <th lay-data="{field:'column_comment', width: 300, edit: 'text'}">备注</th>
            </tr>
        </thead>
    </table>
<script>
        layui.use(['layer', 'form', 'jquery', 'table'], function(){
            let layer = layui.layer
                , form = layui.form
                , $ = layui.$
                , table = layui.table;
        });
    </script>
</body>
</html>