<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">代码生成1.0</div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="javascript:void(0);" onclick="pageforward('/configInfo')">默认配置</a>
                </li>
                <li class="layui-nav-item"><a href="javascript:void(0);" onclick="pageforward('/columnInfo')">页面生成</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="mainDiv" class="layui-body">
        <div style="padding: 15px;">
            <iframe id="main" src="/columnInfo" frameborder="0" style="width: 100%;height:740px"></iframe>
        </div>
    </div>
    <div class="layui-footer">
        © zhaoyi.com
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'jquery', 'table'], function () {
        let layer = layui.layer
            , form = layui.form
            , $ = layui.$
            , table = layui.table;
        pageforward('/configInfo');
    });

    function pageforward(url) {
        document.getElementById('main').src = url;
    }
</script>
</body>
</html>